{% extends "base.html" %}

{# Changing known password #}
{# TODO Use card container #}

{% block title %}new password{% endblock %}

{% block content %}
<!-- <div class="container text-center"> -->
  <form method="POST">
    <h4>Setup new password</h4>
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Current password</label>
      <input name="password0" type="password" class="form-control" id="InputPassword1">
    </div>
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Password</label>
      <input name="password1" type="password" class="form-control" id="InputPassword1">
    </div>
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Retype password</label>
      <input name="password2" type="password" class="form-control" id="InputPassword1">
    </div>
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long and must not contain spaces, special characters, or emoji.
    </div>
    <br>
    <div class="d-grid gap-4 col-{{ button_size }} mx-auto">
      <button type="submit" class="btn btn-primary">Confirm</button>
      <a href="{{ url_for('main.settings') }}" class="btn btn-outline-secondary">Back to settings</a>
      <a href="{{ url_for('main.home') }}" class="btn btn-outline-secondary">Home page</a>
    </div>
  </form>
<!-- </div> -->
{% endblock %}