{% extends "base.html" %}

{% block title %}Edit {{ social_media.get_title() }} account {% endblock %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <i class="ti ti-brand-{{ social_media.network_name }}"></i>
    {{ social_media.get_title() }}
  </div>
  <div class="card-body">
    <form method="POST">
      <div class="mb-3">
        <label for="text" class="form-label">Your {{ social_media.get_title() }} username:</label>
        <div class="input-group">
          {% if network_data %}
          <span class="input-group-text" id="username">{{ network_data['url'] }}</span>
          {% else %}
          <span class="input-group-text" id="username">{{ social_media.get_title() }}</span>
          {% endif %}
          <input type="text" name="username" id="username" class="form-control" value="{{ social_media.username }}"
            placeholder="you username" aria-describedby="username">
        </div>
        <br>
      </div>
      <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseDangerZone" aria-expanded="false" aria-controls="collapseDangerZone">
        Danger zone
      </button>
    </div>
    <br>
    <div style="min-height: 60px;">
      <div class="collapse collapse-horizontal" id="collapseDangerZone">
        <div>
          {% set redirect_url = 'main.' + social_media.network_name %}
          <a href="{{ url_for(redirect_url, action='delete') }}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}