<h4>Hello!</h4>
<br>
<h4>Status confirmation</h4>
<p>You have received this email as confirmation of the change in your status on {{ site_url }}</p>
<p>Now all the features of the service are available to you.</p>
<br>
<h4>Open source</h4>
<p>This project is open source, so the payment system is implemented in demo mode.</p>
<p>No real payment data is collected, and you can use all the features of the service absolutely free of charge.</p>
<br>
<h4>With your support</h4>
<p>The project needs you, here's how you can help:</p>
<p> - Join the development with <a href="{{ github_url }}">GitHub</a></p>
<p> - Subscribe to <a href="{{ patreon_url }}">Patreon</a></p>
<p> - <a href="{{ bmc_url }}">Buy coffee</a> for the developer</p>
<br>
<p>
    Best regards,<br>
    site admin
</p>