<h4>Добрый день.</h4>
<br>
<h4>Подтверждение статуса</h4>
<p>Вы получили это письмо как подтверждение изменения вашего статуса на сайте {{ site_url }}</p>
<p>Теперь вам доступны все возможности сервиса.</p>
<br>
<h4>Открытый исходный код</h4>
<p>Этот проект с открытым исходным кодом поэтому система оплаты внедрена в демонстрационном режиме.</p>
<p>Никакие реальные платежные данные не собираются, и вы можете использовать все возможности сервиса абсолютно бесплатно.</p>
<br>
<h4>При вашей поддержке</h4>
<p>Проект нуждается в ваc, вот как вы можете помочь:</p>
<p> - Присоединяйтесь к разработке на <a href="{{ github_url }}">GitHub</a></p>
<p> - Оформите подписку в <a href="{{ boosty_url }}">Boosty</a></p>
<p> - Угостите автора кофе через <a href="{{ cloudtips_url }}">CloudTips</a></p>
<br>
<p>Спасибо, что вы с нами!</p>