<div class="card text-center">
    <div class="card-header">
      Your personal card link
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ user.links[0].unique_link }}</h5>
      <p class="card-text"></p>
      <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      <a href="{{ url_for('main.short_list_of_links', unique_link=user.links[0].unique_link) }}" class="btn btn-primary" target="_blank">Open in new tab</a>
      </div>
    </div>
    <div class="card-footer text-muted">
      Share it!
    </div>
</div>