<div class="card text-center">
    <div class="card-header">
      Upgrade you card
    </div>
    <div class="card-body">
      <h5 class="card-title">Featured links</h5>
      <p class="card-text">Available right now</p>
        <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-center"> -->
        {% for link in free_links %}
            {% if networks[link]['is_free'] or user.is_paying() %}
            {% set redirect_url = 'main.' + link %}
            <a href="{{ url_for(redirect_url, action='edit') }}" class="btn btn-outline-primary">
                <i class="ti ti-brand-{{link}}"></i>
                {{ link }}
            </a>
            {% endif %}
        {% endfor %}
        </div> 
    </div>
    <!-- <div class="card-footer text-muted"> -->
    <!-- 2 days ago -->
    <!-- </div> -->
</div>
<br>