<div class="card text-center h-100">
    <div class="card-header">
    A little bit more
    </div>
    <div class="card-body">
      <h5 class="card-title">Featured links</h5>
      <p class="card-text">Available in pro version</p>
        <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
        {% for link in free_links %}
            {% if not networks[link]['is_free'] %}
                <button type="button" class="btn btn-outline-primary" disabled>
                    <i class="ti {{ networks[link]['icon_name'] }}"></i>  
                    {{ networks[link]['repr_name'] }}
                </button>
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('paywall.make_payment') }}" class="btn btn-info">Go to PRO</a>
        </div> 
    </div>
    <!-- <div class="card-footer text-muted"> -->
    <!-- 2 days ago -->
    <!-- </div> -->
</div>