<div class="card card-body">
  <pre><code>
    {
      "development": {
        "github": {
          "about": null,
          "description": null,
          "full_url": "https://github.com/trash-max",
          "icon": "ti-brand-github",
          "repr_name": "GitHub",
          "username": "trash-max"
        }
      },
      "donate_russia": {
        "cloudtips": {
          "about": null,
          "description": null,
          "full_url": "https://pay.cloudtips.ru/p/5acab2cd",
          "icon": "ti-currency-rubel",
          "repr_name": "CloudTips",
          "username": "5acab2cd"
        }
      },
      "donate_world": {
        "buymeacoffe": {
          "about": null,
          "description": null,
          "full_url": "https://www.buymeacoffee.com/maxtrash",
          "icon": "ti-currency-dollar",
          "repr_name": "Buy me a coffee",
          "username": "maxtrash"
        }
      },
      "emails": {
        "email": {
          "about": "Max",
          "description": "Personal email for any questions ",
          "full_url": "mailto:max@deadend.xyz",
          "icon": "ti-at",
          "repr_name": "Email",
          "username": "max@deadend.xyz"
        }
      },
      "information": {
        "about": {
          "about": null,
          "description": "Admin allme.one",
          "full_url": "Max",
          "icon": "ti-user",
          "repr_name": "About",
          "username": "Max"
        }
      },
      "messengers": {
        "telegram": {
          "about": null,
          "description": null,
          "full_url": "https://t.me/code_with_max",
          "icon": "ti-brand-telegram",
          "repr_name": "Telegram",
          "username": "code_with_max"
        }
      },
      "social_media": {
        "instagram": {
          "about": null,
          "description": null,
          "full_url": "https://instagram.com/max_trash",
          "icon": "ti-brand-instagram",
          "repr_name": "Instagram",
          "username": "max_trash"
        },
        "youtube": {
          "about": null,
          "description": null,
          "full_url": "https://youtube.com/@MaxTrash",
          "icon": "ti-brand-youtube",
          "repr_name": "YouTube",
          "username": "MaxTrash"
        }
      }
    }
  </code></pre>
</div>