{% extends "base.html" %}

{% block title %}Edit email{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <div class="mb-3">
            <label for="text" class="form-label">Your name</label>
            <input type="text" name="user_name" id="user_name" 
                class="form-control" 
                value="{{ about.name }}" 
                placeholder="Your name">
        <div class="mb-3">
            <label for="text" class="form-label">Description</label>
            <input type="text" name="description" id="description" 
                class="form-control" 
                value="{{ about.description }}" 
                placeholder="description">
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}