{% extends "base.html" %}

{% block title %}card{% endblock %}

{% block content %}
<!-- INFO (about, etc) -->
{% if links_data['information'] %}
  {% set info = links_data['information']['about'] %}
  <div class="card text-center">
    <div class="card-header">
      {{ info['about'] }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ info['username'] }}</h5>
      <p class="card-text">{{ info['description'] }}</p>
    </div>
  </div>
{% endif %}
<br>
<!-- Social media -->
{% if links_data['social_media'] %}
<div class="card text-center">
  <div class="card-header">
    Social media
  </div>
  <div class="card-body">
    <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      {% for key, data in links_data['social_media'].items() %}
      <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
        <i class="ti ti-brand-{{ key }}"></i>
        {{ key }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
</br>
<!-- Bottom buttons -->
<div class="card">
  <div class="card-body">
  {% include 'bottom_buttons.html' %}
  </div>
</div>
<!-- Bottom links -->
{% if not visitor_paying %}
  <div>
  {% include 'bottom_about.html' %}
  </div>
{% endif %}
{% endblock %}