{% extends "base.html" %}

{% block title %}card{% endblock %}

{% block content %}
<!-- INFO (about, etc) -->
<br>
{% if links_data['information'] %}
{% set data = links_data['information']['about'] %}
<div class="card mx-auto d-block text-center">
  <div class="card-body">
    <img src="{{ owner_gravatar }}" class="rounded mx-auto d-block" alt="...">
    <h5 class="card-title">{{ data['username'] }}</h5>
    <p class="card-text">{{ data['description'] }}</p>
  </div>
</div>
</br>
{% endif %}
<div class="row row-cols-1 row-cols-md-2 g-2"> {# row #}
<!-- Messengers -->
{% if links_data['messengers'] %}
<div class="col">
<div class="card text-center h-100">
  <!-- <div class="card-header">
    Messengers
  </div> -->
    <div class="card-body">
      <h6 class="card-title">Messengers</h6>
      <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
        {% for key, data in links_data['messengers'].items() %}
        <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
          <i class="ti {{ data['icon'] }}"></i>
          {{ data['repr_name'] }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</br>
</div>
{% endif %}
<!-- Development -->
{% if links_data['development'] %}
<div class="col">
<div class="card text-center h-100">
  <!-- <div class="card-header">
    Development
  </div> -->
  <div class="card-body">
    <h6 class="card-title">Development</h6>
    <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      {% for key, data in links_data['development'].items() %}
      <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
        <i class="ti {{ data['icon'] }}"></i>
        {{ data['repr_name'] }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
</br>
</div>
{% endif %}
<!-- Social media -->
{% if links_data['social_media'] %}
<div class="col">
<div class="card text-center h-100">
  <!-- <div class="card-header">
    Social media
  </div> -->
  <div class="card-body">
    <h6 class="card-title">Social media</h6>
    <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      {% for key, data in links_data['social_media'].items() %}
      <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
        <i class="ti {{ data['icon'] }}"></i>
        {{ data['repr_name'] }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
</br>
</div>
{% endif %}
<!-- Collections -->
{% if links_data['collections'] %}
<div class="col">
<div class="card text-center h-100">
  <!-- <div class="card-header">
    Collections
  </div> -->
  <div class="card-body">
    <h6 class="card-title">Collections</h6>
    <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      {% for key, data in links_data['collections'].items() %}
      <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
        <i class="ti {{ data['icon'] }}"></i>
        {{ data['repr_name'] }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
</br>
</div>
{% endif %}
<!-- Donations world -->
{% if links_data['donate_world'] %}
<div class="col">
<div class="card text-center h-100">
  <!-- <div class="card-header">
    Donations pages
  </div> -->
  <div class="card-body">
    <h6 class="card-title">Donations</h6>
    <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      {% for key, data in links_data['donate_world'].items() %}
      <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
        <i class="ti {{ data['icon'] }}"></i>
        {{ data['repr_name'] }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
</br>
</div>
{% endif %}
<!-- Donations Russia -->
{% if links_data['donate_russia'] %}
<div class="col">
<div class="card text-center h-100">
  <!-- <div class="card-header">
    Donation from Russia
  </div> -->
  <div class="card-body">
    <h6 class="card-title">Donation from Russia</h6>
    <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
      {% for key, data in links_data['donate_russia'].items() %}
      <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
        <i class="ti {{ data['icon'] }}"></i>
        {{ data['repr_name'] }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
</br>
</div>
{% endif %}
<!-- E-mails -->
{% if links_data['emails'] %}
<div class="col">
  {% set data = links_data['emails']['email'] %}
  <div class="card text-center h-100">
    <!-- <div class="card-header">
      E-mail
    </div> -->
    <div class="card-body">
      <h5 class="card-title">{{ data['username'] }}</h5>
      <p class="card-text">{{ data['description'] }}</p>
      <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
        <a href="{{ data['full_url'] }}" target=”_blank” class="btn btn-outline-primary">
          <i class="ti {{ data['icon'] }}"></i>
          send
        </a>
      </div>
    </div>
  </div>
</br>
</div>
{% endif %}
</div> {# end row #}
<br>
<!-- Share buttons -->
{% include 'links/cards/share_buttons.html' %}
<!-- Bottom buttons -->
{% include '/links/cards/bottom_buttons.html' %}
<!-- Bottom links -->
{% if not owner_is_paying %}
  {% include 'bottom_about.html' %}
{% endif %}
{% endblock %}