{% extends "base.html" %}

{% block title %}My page{% endblock %}

{% block content %}
<!-- SHARE LINKS -->
<div class="container">
  {% include 'links/home/unique_link.html' %}
</div>
<br>
<!-- User added links -->
{# ''' #}
{# using list of strings #}
{# may be later I must using switch-case method #}
{# ''' #}
<div class="container">
  {% for link in used_links %}
    <!-- ABOUT -->
    {%  if  link.network_name == "about" %}
      {% include 'links/home/view/about.html' %}
      <br>
    <!-- E-MAIL -->
    {% elif link.network_name == "email" %}
      {% include 'links/home/view/email.html' %}
      <br>
    {% else %}
    <!-- OTHER LINKS: FACEBOOK TWITTER INSTAGRAM etc-->
      {% include 'links/home/view/common_view.html' %}
      <br>
    {% endif %}
  {% endfor %}
</div>
<br>
<!-- Avaible for user links (using list)-->
<div class="container">
  <div align="center">
    <h4>Upgrade you card:</h4>
  </div>
  {# ''' #}
  {# Included here free and paid avaible links tempale #}
  {# I think need else more list of paid links... #}
  {# ''' #}
  {% if free_links %}
    {% include 'links/home/view/freelinks.html' %}
    {% if not user.is_paying() %}
      {% include 'links/home/view/postpaid.html' %}
    {% endif %}
  {% endif %}
</div>
<br>
<div class="container">
  {% include 'bottom_buttons.html' %}
</div>
{% endblock %}