{% extends "base.html" %}

{% block title %}My page{% endblock %}

{% block content %}
{% if not user.email_confirmed %}
  <div class="container">
    <div class="card border-warning text-center">
      <div class="card-header">
        Warning
      </div>
      <div class="card-body">
        <h5 class="card-title">Email is not confirmed</h5>
        <p class="card-text">Please use the link from the email</p>
        <div class="d-grid gap-2 col-{{ button_size }} mx-auto"></div>
        <a href="{{ url_for('auth.send_mail') }}" class="btn btn-outline-primary">Resend email</a>
      </div>
    </div>
  </div>
  <br>
{% endif %}
<!-- SHARE LINKS -->
<div class="container">
  {% include 'links/home/unique_link.html' %}
</div>
<br>
<!-- User added links -->
{# ''' #}
{# using list of strings #}
{# may be later I must using switch-case method #}
{# ''' #}
<div class="container">
  {% for link in used_links %}
    <!-- ABOUT -->
    {%  if  link.network_name == "about" %}
      {% include 'links/home/view/about.html' %}
      <br>
    <!-- E-MAIL -->
    {% elif link.network_name == "email" %}
      {% include 'links/home/view/email.html' %}
      <br>
    {% else %}
    <!-- OTHER LINKS: FACEBOOK TWITTER INSTAGRAM etc-->
      {% include 'links/home/view/common_view.html' %}
      <br>
    {% endif %}
  {% endfor %}
</div>
<br>
<!-- Avaible for user links (using list)-->
<div class="container text-center">
    <!-- <h4>Upgrade you card:</h4> -->
  {# ''' #}
  {# Included here free and paid avaible links tempale #}
  {# I think need else more list of paid links... #}
  {# ''' #}
  {% if free_links %}
    {% include 'links/home/view/freelinks.html' %}
    {% if not user.is_paying() %}
      {% include 'links/home/view/postpaid.html' %}
    {% endif %}
  {% endif %}
</div>
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-grid gap-2 col-{{ button_size }} mx-auto">
        <a href="{{ url_for('main.index') }}" class="btn btn-outline-secondary">Main page</a>
        <a href="{{ url_for('main.settings') }}" class="btn btn-outline-secondary">Settings</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-secondary">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}