{% extends "base.html" %}

{% block title %}Links{% endblock %}

{% block content %}


{% for link in links %}
  {% if link.network_name == 'email' %}
  <div class="card text-center">
    <div class="card-header">
      E-mail
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">If you are not on social networks</h5>
      <p class="card-text">You can email me</p> -->
      <a href="mailto:{{link.adress}}" class="btn btn-primary">Write a letter</a>
    </div>
  </div>
  <br>
  {% elif link.about %}
    {{ link }} about
  {% else %}
    {{ link }} other
  {% endif %}
{% endfor %}

{% endblock %}